* {
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: lightblue;
    color: black;
  }

:root {
    --extremos: white;
    --body: #ececec;
    --titulos: #596179;
    --azul-logo: #63aaea;
    --subtitulos: #555;
}

body {
    background-color: var(--body);
}

.buttonvoltarloja {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 20px;

    position: fixed;
    margin-left: 20px;
    margin-top: 40px;
    top: 0;
    transition: all 0.3s;
}

.buttonvoltarloja:hover{
    background-color: rgb(211, 2, 2);
    transition: all 0.3s;
}

.imgescudo {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/mascote.jpg);
    cursor: pointer;
    transition: all 0.3s;
}

.imgescudo:hover {
    background-image: url(../img/CAPescudo.png);
    transition: all 0.3s;
}

header {
    display: flex;
    padding: 20px;
    background-color: white;
    align-items: center;
    justify-content: center;
    gap: 13px;
}

h2 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-align: center;
}

.escritasheader p, .p-introducao {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
}

.p-introducao  {
    text-align: center;
    margin-bottom: 30px;
}

.imgbanner {
    box-shadow: 0px 0px 7px #000000c0;
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../img/bannercompra.png);
}

.compras {
    margin: 30px;
}

.backgroundcamisas {
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 19px;
    box-shadow: rgb(243 56 56 / 15%) 3px 7px 12px 0px;
}

.camisa-modelonovo3 {
    width: 220px;
    height: 220px;
    background-size: cover;
    transition: all 0.4s;
}

.camisa-modelonovo3 {
    background-image: url(../img/novo1.png);
}

.camisa-modelonovo3:hover {
    background-image: url(../img/novocostas1.png);
}

.displayblock {
    display: block;
}

.displayblock hr {
    height: 2px;
    background-color: black;
    border-radius: 5px;
    margin-top: 12px;
}


#precoefrete {
    text-align: center;
}

.frete {
    color: #10ba78;
    font-size: 1.14286rem;
    font-weight: 600;
    font-family: 'Source Sans 3', sans-serif;
}

.preco {    
    margin-top: 12px;
    font-weight: 700;
    font-size: 1.21429rem;
}

.comprarbutton {
    transition: all 0.3s;
    background-color: #4CAF50;
    color: #fff;

    padding: 6px 38px;
    border-radius: 4px;
    border: none;

    margin-left: 18px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 14px;
}
  
  .comprarbutton:hover {
    cursor: pointer;
    transition: all 0.3s;

    background-color: #439b47;
  }

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top: 70px;
    background-color: var(--extremos);
    box-shadow: 0px -1px 7px #000000c0;
    padding: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    
    color: var(--titulos);
}

footer a {
    margin: 20px;
}

.displayblock {
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select[disabled] {
    color: #999;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select:focus, input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
